.img {
  width: 100%;
  box-shadow: 0px 0px 5px #333333;
}

.title {
  margin: 0em 0em 1em 0em;
  padding: 0.25em;
}

.address {
  font-style: italic bold;
}

.button {
  all: unset;
  border: 1px solid #77002e;
  border-radius: 5px;
  color: #77002e;
  padding: 0.25em;
  margin-bottom: 1.5em;
  cursor: pointer;
}